@import url('https://fonts.cdnfonts.com/css/tt-drugs-trial?styles=152888%27');


.btn-inicial{
    
    background-color: #cfad7dff !important;    
    color:saddlebrown!important;
    font-family: 'TT Drugs Trial', sans-serif!important;  
    margin-top: 40% !important; 

}

.btn-inicial:hover{
    transform: scale(1.1);
}

.caixa-titulo{
    padding-top: 1% !important;     
}

.sub-inicial{
    padding-left: 15% !important;
    
}

.sub-titulo {
    margin-left: 2% !important;
    font-family: 'TT Drugs Trial', sans-serif !important;
    font-size: 22px !important;
    margin-right: 1% !important;
    margin-top: 2% !important;

}

.comentarios{
    font-size: 25px !important;
    background-color: rgb(207, 163, 101) ;
    padding: 1%;
    text-align: center !important;
    margin-bottom: 2% !important;
    font-family: 'Kirsty', sans-serif !important;
    color: beige 
}

.search{
    padding-left: 10px;
    margin-top: 2% !important;
}

.box-carrosel{
 justify-content: center !important;
 text-align: center !important;

}

.botao-voltar-topo {
    position: fixed;
    bottom: 3vh;
    right: 3vh;
    width: 5vh;
    height: 5vh;
    font-size: 2.5vh;
    background-color: #8bc34a; 
    color: #fff;
    border: none;
    border-radius: 50%; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease; 
    z-index: 9999; 
    pointer-events: auto; 
  }
  
  .botao-voltar-topo:hover {
    background-color: #7cb342; 
  }
  
  .botao-voltar-topo::before {
    content: "\2191"; 
  }
  
